sudo: required
dist: trusty

language: ruby

before_install:
  - export MYSQL_APT_CONFIG_FILE=mysql-apt-config_0.7.2-1_all.deb
  - wget http://dev.mysql.com/get/$MYSQL_APT_CONFIG_FILE
  - sudo dpkg -i $MYSQL_APT_CONFIG_FILE
  - sudo apt-get -y update
  - sudo apt-get install -y mysql-community-client mysql-community-server
  
install: true

script:
  - mysql --version
  - sudo mysql -u root -e 'create database mydatabase;'
  - echo hola
